* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    padding: 0 30px;
    margin: 0 auto;
}

html body {
    font-family: 'nunito';
    background-color: #00050d;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul li {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-12 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

/* header section start */
header {
    background-color: #00050d;
    color: #fff;
    padding: .5rem 2rem;
    font-weight: 600;
    position: sticky;
    top: 0;
}

header .navbar {
    padding: 0 2.5rem;
}

header .navbar nav {
    width: 100%;
}

header .logo img {
    width: 100px;
}

header nav ul li a {
    margin: 0 .5rem;
    padding: .5rem 1rem;
}

header nav ul li a:hover {
    background-color: #fff;
    color: #00050d;
    border-radius: 5px;
    transition: all 0.2s linear;
}

header nav ul li:nth-child(4) a {
    position: relative;
}

header nav ul:first-child li:nth-child(4) a::after {
    content: "";
    width: 3px;
    height: 70%;
    background-color: #949494;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-12px);
}

header nav ul li:last-child a {
    display: flex;
    align-items: center;
}

header nav ul li a svg {
    width: 21px;
    fill: #fff;
    vertical-align: middle;
}

header nav ul li a:hover svg {
    fill: #00050d;
}

header .navbar ul+ul li a img {
    width: 28px;
    border-radius: 50%;
}

header .navbar nav ul+ul li a {
    border-radius: 50%;
    padding: .5rem .7rem;
    vertical-align: middle;
}

header .navbar nav ul+ul li:nth-child(2) a {
    border-radius: 5px;
}

header .navbar nav ul+ul li:nth-child(2) a::after {
    content: '\f107';
    padding-left: 10px;
    font-family: FontAwesome;
}

header .navbar nav ul+ul li:nth-child(2):hover a::after {
    content: '\f106';
}

header .navbar nav ul+ul li .dropdown-menu .toggler {
    position: relative;
}

header .navbar nav ul+ul li .dropdown-menu .toggler:hover {
    display: block;
}

header .navbar nav ul+ul li:last-child .btn {
    background-color: #0d5896;
    color: #fff;
    font-size: 18px;
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
}

header .navbar nav ul+ul li:last-child .btn:hover {
    background-color: #417cbb;
}

/* header section end */

/* hero section start */
.hero {
    color: #fff;
    height: 700px;
    background-image: url(../images/hero.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-content {
    margin: 2rem 0;
}

.hero h1 {
    margin: 2rem;
    font-size: 48px;
    font-weight: 700;
}

.hero p {
    margin: 1rem 2rem;
    font-size: 21px;
    font-weight: 700;
}

.hero a {
    width: fit-content;
    background-color: #fff;
    color: #00050d;
    font-size: 21px;
    font-weight: 700;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

.hero a:hover {
    color: #949494;
    transform: scale(1.1);
}


.movie {
    color: #fff;
    background-image: url(../images/movie.jpg);
    height: 700px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.movie .movie-content {
    margin: 2rem 0;
}

.movie h1 {
    margin: 2rem;
    font-size: 48px;
    font-weight: 700;
}

.movie p {
    margin: 1rem 2rem;
    font-size: 21px;
    font-weight: 700;
}

.movie a {
    width: fit-content;
    background-color: #fff;
    color: #00050d;
    font-size: 21px;
    font-weight: 700;
    margin: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

.movie a:hover {
    color: #949494;
    transform: scale(1.1);
}

.favorite-subscriptions {
    padding: 4rem 2rem;
}

.favorite-subscriptions h1 {
    color: #fff;
    padding-bottom: 2rem;
    font-size: 48px;
    font-weight: 700;
}

.favorite-subscriptions p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.favorite-subscriptions a {
    margin: .5rem;
}

.favorite-subscriptions a img {
    border-radius: 12px;
}

.favorite-subscriptions a:hover {
    /* scale: 1.03; */
    border-radius: 12px;
    box-shadow: 0 0 7px 3px #63777fde;
}

/* hero section end */

/* terms-privacy section start */
.prime-video {
    background-color: #222222;
    padding: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.prime-video .terms-privacy img {
    width: 100px;
    align-self: center;
}

.prime-video .terms-privacy .terms-privacy-content a {
    color: #79b8f3;
    margin: .5rem;
}

.prime-video .terms-privacy .terms-privacy-content a:hover {
    color: #90dffe;
}

.prime-video .terms-privacy p {
    color: #8197a4;
    margin: .5rem;
}

/* terms-privacy section end */