*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

html body{
    font-family: 'nunito';
    background-color: #000;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul li{
    list-style: none;
}

img{
    width: 100%;
    display: block;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.w-100{
    width: 100%;
}

/* header section start */
header{
    background-color: #00050d;
    color: #fff;
    padding: .5rem 0;
    font-weight: 600;
}

header .navbar{
    padding: 0 2.5rem;
}

header .navbar nav{
    width: 100%;
}

header .logo img{
    width: 100px;
}

header nav ul li a{
    margin: 0 .5rem;
    padding: .5rem 1rem;
}

header nav ul li a:hover{
    background-color: #fff;
    color: #00050d;
    border-radius: 5px;
    transition: all 0.2s linear;
}

header nav ul li:nth-child(4) a{
    position: relative;
}

header nav ul:first-child li:nth-child(4) a::after{
    content: "";
    width: 3px;
    height: 70%;
    background-color: #949494;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translateY(-12px);
}

header nav ul li:last-child a{
    display: flex;
    align-items: center;
}

header nav ul li a svg{
    width: 21px;
    fill: #fff;
    vertical-align: middle;
}

header nav ul li a:hover svg{
    fill: #00050d;
}

header .navbar ul + ul li a img{
    width: 28px;
    border-radius: 50%;
    vertical-align: middle;
}

header .navbar nav ul + ul li a{
    border-radius: 50%;
    padding: .5rem .7rem;
}

header .navbar nav ul + ul li:nth-child(2) a{
    border-radius: 5px;
}

header .navbar nav ul + ul li:last-child a{
    background-color: #0d5896;
    color: #fff;
    font-size: 18px;
    padding: .5rem 1rem;
    border: 0;
    border-radius: 5px;
}

header .navbar nav ul + ul li:last-child a:hover{
    background-color: #417cbb;
}

/* header section end */

/* hero section start */
.hero{
    color: #fff;
    height: 550px;
    background-image: url(../images/hero.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

.hero h1{
    padding: 1rem 0;
    font-size: 32px;
    font-weight: 700;
}

.hero p{
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 700;
}

.hero a{
    width: fit-content;
    background-color: #fff;
    color: #00050d;
    font-size: 14px;
    margin: 1rem 0;
    padding: .5rem;
    border-radius: 5px;
}

.hero a:hover{
    color: #949494;
    scale: 1.1;
}


.movie{
    color: #fff;
    height: 450px;
    background-image: url(../images/movie.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

.movie h1{
    padding: 1rem 0;
    font-size: 32px;
    font-weight: 700;
}

.movie p{
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 700;
}

.movie a{
    width: fit-content;
    background-color: #fff;
    color: #00050d;
    font-size: 14px;
    margin: 1rem 0;
    padding: .5rem;
    border-radius: 5px;
}

.movie a:hover{
    color: #949494;
    scale: 1.1;
}
/* hero section end */
